$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

$mq-900: "(min-width: 900px)";

$base-font-size: 1em;

// Colors
$white: white;
$light-pink: #EDE1E1;
$light-gray: #A4A39A;
$dark-green: #6B857C;
$brown: #A28D80;
$dark-gray: #525145;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;

body {
	font-size: $base-font-size * 1.2;
    text-align: center;
	line-height: $base-line-height;
	color: $light-pink;

    background-image: url("../img/ASP-RME16-105.jpg");
    background-attachment: fixed;
    background-color: rgba($light-pink, 0.2);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-blend-mode: screen;

	@media #{$mq-medium} {
		font-size: $base-font-size*1.3;
		line-height: $base-line-height*1.2;
	}

	@media #{$mq-large} {
		font-size: $base-font-size*1.4;
		line-height: $base-line-height*1.2;
	}

	@media #{$mq-xlarge} {
		font-size: $base-font-size*1.5;
		line-height: $base-line-height*1.3;
	}

	text-align: center;
}

h1 {
	font-size: $base-font-size * 3;
	line-height: $base-line-height * .7;

	@media #{$mq-medium} {
		font-size: $base-font-size * 3.2;
	}

	@media #{$mq-large} {
		font-size: $base-font-size * 3.4;
	}

	@media #{$mq-xlarge} {
		font-size: $base-font-size * 3.6;
	}
}

.bg-white {
	background-color: $white;
}

.bg-pink {
	background-color: rgba($light-pink,1);
}

.bg-brown {
	background-color: rgba($brown,0.6);
}

.bg-li-gray {
	background-color: $light-gray;
}

.text-white {
	color: white;
}

.text-green {
	color: $dark-green;
}

hr {
	color: $light-pink;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px;
	background-color: rgba($brown,0.6);
	border-top: none;
}

hr:after {
	content: "~~~~~~~~â–~~~~~~~~";
	display: inline-block;
	position: relative;
	top: -0.9em;
}

.container {
	margin: 0 4%;
	width: auto;

	@media #{$mq-medium} {
   		margin: 0 8%;
  	}

  	@media #{$mq-large} {
    	margin: 0 12%;
  	}

  	@media #{$mq-xlarge} {
    	margin: 0 18%;
  	}

	position: relative;
}


.modal-container {
	  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
	  position: absolute;
}

form {
	text-align: left;
	* {
		margin: 5px;
	}
	input {
		padding: 5px 10px;

		background-color: white;

		border-style: groove;
		border-radius: 3px;
	}
}

h1 small {
	color: inherit;
}

img {
	padding-top: 1em;
	padding-bottom: 1em;
}

img.core-img {
	max-width: 100%;

	@media #{$mq-medium} {
		max-width: $bp-large;
	}

	@media #{$mq-large} {
		max-width: $bp-xlarge;
	}
}

.buffer {
	padding-top: 15px;
}

.nav,.nav-tabs {
	display: block;
	text-align: center;
}

.nav>li {
	display: inline-block;
	float: none;
}
