@font-face {
  font-family: Arabella;
  src: url("font/Arabella.ttf"); }
@font-face {
  font-family: Angeline;
  src: url("font/AngelineVintage.ttf"); }
@font-face {
  font-family: Markella;
  src: url("font/Markella.ttf"); }
body {
  font-size: 1.44em;
  font-family: 'Unna';
  text-align: center;
  line-height: 1.5;
  color: #000000;
  background-image: url("../img/glitter02.png"), url("../img/white-paper-texture.jpg");
  background-attachment: local, fixed;
  background-size: contain, cover;
  background-position-x: center, center;
  background-repeat: no-repeat, no-repeat;
  text-align: center; }
  @media (min-width: 64em) {
    body {
      font-size: 1.56em;
      line-height: 1.8; } }
  @media (min-width: 85.375em) {
    body {
      font-size: 1.68em;
      line-height: 1.8; } }
  @media (min-width: 120em) {
    body {
      font-size: 1.8em;
      line-height: 1.95; } }

h1 {
  font-family: 'Markella';
  font-size: 2.4em;
  line-height: 1.05;
  margin-top: 1.5em; }
  @media (min-width: 48em) {
    h1 {
      font-size: 3.6em; } }
  @media (min-width: 64em) {
    h1 {
      font-size: 3.84em; } }
  @media (min-width: 85.375em) {
    h1 {
      font-size: 4.08em; } }
  @media (min-width: 120em) {
    h1 {
      font-size: 4.32em; } }
  h1 small {
    color: inherit; }
  h1.date {
    margin-top: 0.5em; }

h2 {
  font-weight: bold;
  font-size: 1.8em; }
  @media (min-width: 48em) {
    h2 {
      font-size: 2.4em; } }
  @media (min-width: 64em) {
    h2 {
      font-size: 2.64em; } }
  @media (min-width: 85.375em) {
    h2 {
      font-size: 2.88em; } }
  @media (min-width: 120em) {
    h2 {
      font-size: 3.12em; } }

hr {
  background: url("../img/branch-divider2.png");
  background-repeat: no-repeat;
  background-position: 50%;
  border-top: none;
  padding: 1em;
  background-size: 60%; }
  @media (min-width: 450px) {
    hr {
      padding: 3em; } }
  @media (min-width: 48em) {
    hr {
      background-size: 50%; } }

form {
  text-align: left; }
  form * {
    margin: 5px; }
  form input {
    padding: 5px 10px;
    background-color: white;
    border-style: groove;
    border-radius: 3px; }

iframe {
  border: .25em;
  border-style: solid;
  border-color: #B1C5B6;
  margin-top: 1.5em; }

img {
  padding-top: 1em;
  padding-bottom: 1em; }

img.core-img {
  max-width: 150%;
  left: -25%;
  position: relative; }
  @media (min-width: 64em) {
    img.core-img {
      max-width: 100%;
      left: 0; } }

img.cat-img {
  width: 15em; }
  @media (min-width: 48em) {
    img.cat-img {
      width: 20em; } }

a.map-button {
  padding: .5em 1em;
  border-width: .2em;
  border-style: solid;
  border-radius: .5em;
  text-decoration: none;
  letter-spacing: 2px;
  max-width: 20%;
  min-width: 100px;
  text-align: center;
  border-color: #5F8068;
  background-color: #7DA988;
  color: white; }

a.map-button:hover {
  background-color: #A29364;
  border-color: #867645;
  color: white; }

.container {
  margin: 0 8%;
  width: auto;
  position: relative; }

.modal-container {
  position: relative; }

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute; }

.detail-content {
  text-align: left; }

.hotel-container {
  display: flex;
  flex-wrap: wrap; }

.hotel-content {
  width: 100%;
  text-align: left;
  padding: .3em; }
  @media (min-width: 48em) {
    .hotel-content {
      width: 50%;
      padding: .3em 2em .3em 2em; } }

.hidden-large {
  display: block; }
  @media (min-width: 48em) {
    .hidden-large {
      display: none; } }

.hidden-small {
  display: none; }
  @media (min-width: 48em) {
    .hidden-small {
      display: block; } }

.expand-small {
  width: 100%; }
  @media (min-width: 48em) {
    .expand-small {
      width: 41.666667%; } }

.buffer {
  padding-top: 1em; }

.page-header {
  font-weight: bold;
  letter-spacing: 2px; }

.nav, .nav-tabs {
  color: black;
  letter-spacing: 2px;
  display: block;
  text-align: center;
  border: none; }
  @media (min-width: 48em) {
    .nav, .nav-tabs {
      letter-spacing: 5px; } }

.nav > li {
  display: inline-block;
  float: none;
  min-width: 15%; }

.nav > li.active {
  background-color: inherit; }

.nav-tabs > li > a {
  color: inherit; }

.nav-tabs > li > a:active {
  outline: 0; }

.nav-tabs > li.active > a {
  color: inherit;
  background: none;
  border: none;
  border-bottom: solid 5px;
  font-weight: bold; }

.nav-tabs > li.active > a:hover {
  color: inherit;
  background: none;
  border: none;
  border-bottom: solid 5px; }

.nav-tabs > li.active > a:focus {
  color: inherit;
  background: none;
  border: inherit;
  border-bottom: solid 5px;
  outline: 0; }

.nav-tabs > li > a:hover {
  border: none;
  background-color: inherit;
  color: #7DA988; }

/*# sourceMappingURL=style.css.map */
